@page
@model ProgettoAPPWEB24.Pages.PagamentoModel
@{
}

<div class="row">
    <div class="col-md-4">
        Pagamento effettuato con successo.
        La ringraziamo per aver scelto MWBot Parking!
        <a asp-page="Index" class="btn btn-primary">Torna alla home</a>
    </div>
</div>