@page
@model ProgettoAPPWEB24.Pages.SostaModel
@{
}

<div class="row">
    <div class="col-md-4">
        <p>Sosta registrata con successo!</p>
        <a asp-page="Index" class="btn btn-primary">Torna alla home</a>
    </div>
</div>