@page "/{id:int}/Cerca"
@model ProgettoAPPWEB24.Pages.CercaBigliettoModel
@{
    var durata = Model.Durata;
	var tariffa = Model.Totale;
	var biglietto = Model.Biglietto;
}

<form id="cerca" method="post">
    <h2>Inserire il numero del biglietto</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Targa" class="form-control" autocomplete="numeroTarga" aria-required="true" placeholder="Numero Targa" />
        <label asp-for="Targa">Numero Targa</label>
        <span asp-validation-for="Targa" class="text-danger"></span>
    </div>
    <div>
        <button asp-page-handler="Cerca" type="submit" class="btn btn-primary">Cerca</button>
    </div>
</form>

<form id="pagamento" method="post">
    <p>Durata sosta: @durata.Hours ore </p>
    <p>Totale: €@tariffa</p>
    <button asp-page-handler="Paga" asp-route-durata="@durata" asp-route-tariffa="@tariffa" asp-route-biglietto="@biglietto" type="submit" class="btn btn-primary">Paga</button>
</form>
