@page
@using ProgettoAPPWEB24.Areas.Identity.Data
@model ProgettoAPPWEB24.Pages.IndexModel
@inject SignInManager<ProgettoAPPWEB24User> SignInManager

<div class="text-center">
    <h1 class="display-4">MWBot Parking</h1>
    <p>Benvenuto nel nostro servizio di parcheggio e ricarica elettrica.</p>
    
    <iframe width="100%" height="300px" frameborder="0" allowfullscreen allow="geolocation" src="//umap.openstreetmap.fr/it/map/mwbot-parking_1086109?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true"></iframe><p><a href="//umap.openstreetmap.fr/it/map/mwbot-parking_1086109?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true">Visualizza a schermo intero</a></p>

    <p>Per iniziare, seleziona il parcheggio in cui ti trovi:</p>
    <div class="row mt-4">
        <partial name="_ParkingList" model="Model.Parcheggi" />
    </div>

    @{
        if(SignInManager.IsSignedIn(User))
        {
            var user = SignInManager.UserManager.GetUserAsync(User).Result;
            if (user!.Role == "Admin")
            {
                <div>
                    <center><h4>Visualizza storico pagamenti</h4></center>
                    <a asp-page="Storico" class="btn btn-primary">Pagamenti</a>
                </div>
            }
        }
    }
</div>
