@page "/{id:int}/Pagamento"
@model ProgettoAPPWEB24.Pages.PagamentoModel
@{
    var Pagamento = Model.Pagamento;
    var Durata = Model.Durata;
}

<div class="row">
    <div class="col-md-4">
        <h2>Riepilogo Pagamento</h2>
        <p>Costo: @Pagamento!.Costo</p>
        <p>Durata Sosta: @Durata</p>
        @if (Pagamento.Ricarica)
        {
            <p>Ricarica veicolo: si</p>
        }
        else
        {
            <p>Ricarica veicolo: no</p>
        }
    </div>
</div>