@page
@model ProgettoAPPWEB24.Pages.PagamentoModel
@{
    var Pagamento = Model.Pagamento;
    var Durata = Model.Durata;
}

<div class="row">
    <div class="col-md-4">
        <h2>Riepilogo Pagamento</h2>
        <p>Costo: @Pagamento!.Costo</p>
        <p>Durata Sosta: @Durata.Hours ore e @Durata.Minutes minuti</p>
        @if (Pagamento.Ricarica)
        {
            <p>Ricarica veicolo: si</p>
        }
        else
        {
            <p>Ricarica veicolo: no</p>
        }
        <br />
        La ringraziamo per aver scelto MWBot Parking!
        <a asp-page="Index" class="btn btn-primary">Torna alla home</a>
    </div>
</div>