@page "{id:int}/Ricarica"
@model ProgettoAPPWEB24.Pages.RicaricaModel
@{
    ViewData["Title"] = "Ricarica";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <p>Sono presenti @Model.Count auto ancora da ricaricare.</p>
        <form id="registraAuto" method="post">
            <h2>Registra la tua auto.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="InputModel!.Targa" class="form-control" autocomplete="targa" aria-required="true" placeholder="Targa" />
                <label asp-for="InputModel!.Targa">Targa</label>
                <span asp-validation-for="InputModel!.Targa" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="InputModel!.LivelloBatteria" class="form-control" autocomplete="batteria" aria-required="true" placeholder="batteria" />
                <label asp-for="InputModel!.LivelloBatteria">Livello Batteria</label>
                <span asp-validation-for="InputModel!.LivelloBatteria" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Livello" class="form-control" autocomplete="livello" aria-required="true" placeholder="livello" />
                <label asp-for="Livello">Livello di carica che si vuole raggiungere</label>
                <span asp-validation-for="Livello" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Registra</button>
            </div>
        </form>
    </div>
</div>